.form-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

form {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  gap: 5px;
}

form > label {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth-input {
  width: 100%;
  min-height: 38px;
  border: 1px solid black;
  border-radius: 10px;
  padding-inline: 10px;
}

.auth-input:focus {
  outline: none;
}

.auth-button{
    width: 100%;
    height: 38px;
    background-color: black;
    border: 0;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}

.auth-button:hover{
    cursor: pointer;
}

.auth-forward{
    color: black;
    text-decoration: none;
    font-weight: bold;
}