.main-sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebar-bg);
  padding: 10px;
  text-align: center;
}

main {
  width: calc(100% - 260px);
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  margin-left: 260px;
  margin-top: 50px;
  padding-top: 20px;
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .main-sidebar{
    display: none;
  }

  main{
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  main{
    padding-inline: 20px;
  }
}