header {
  width: 100%;
  min-height: 50px;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header > nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  justify-content: flex-end;
  gap: 20px;
}

nav > p:hover {
  cursor: pointer;
}
