.input-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.input-container > label > input {
  width: 100%;
  height: 55px;
  border-radius: 50px;
  background-color: var(--input-bg);
  border: 0;
  padding-inline: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.input-container > label > input:focus {
  outline: none;
}

.input-container > label {
  width: 100%;
  height: auto;
  position: relative;
}

/* Arrow styles */

.arrowup-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.arrowup-container:hover {
  cursor: pointer;
}

/* Message Styles */

.message {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.message.user {
  align-self: flex-end;
  align-items: flex-end;
  background-color: #414141;
  width: fit-content;
  max-width: 400px;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

/* AI Message Styles */

.message.ai h1,
.message.ai h2,
.message.ai h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 600;
}

.message.ai p {
  margin-bottom: 16px;
}

.message.ai ul {
  margin-left: 20px;
  margin-bottom: 16px;
}

.message.ai li {
  margin-bottom: 6px;
}
