.input-container {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.input-container > label > input {
  width: 100%;
  height: 55px;
  border-radius: 50px;
  background-color: var(--input-bg);
  border: 0;
  padding-inline: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.input-container > label > input:focus {
  outline: none;
}

.input-container > label{
    width: 100%;
    height: auto;
    position: relative;
}

/* Arrow styles */

.arrowup-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.arrowup-container:hover{
    cursor: pointer;
}