.landing-container{
    width: 100%;
    min-height: calc(100vh - 50px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-container > h1{
    font-size: 80px;
}

.landing-container > h2{
    font-size: 16px;
}