:root {
  --background: #303030;
  --sidebar-bg: #212121;
  --input-bg: #303030;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
}

main {
  width: 100%;
  height: auto;
  padding: 20px;
  padding: 0;
  margin-top: 50px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "segoe", sans-serif;
}

@font-face {
  font-family: "segoe";
  src: url("/fonts/segoeuithis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
